*{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
#head{
  text-decoration: underline;
}
.container{
  width: 300px;
  text-align: center;
  margin: 10px auto;
}
.table{
  width: 400px;
  text-align: center;
  margin: 60px auto;
  font-size: 3rem;
}
.table div{
  display:inline-block;
  padding:0px;
  float: left;
}
.same{
  height: 100px;
  width: 100px;
  border: 1px solid white;
  font-size: 5rem;
  color: white;
}

#o, #th, #se, #n{
  border: none;
}
#t{
  border-top: none;
  border-bottom: none;
}
#f{
  border-left: none;
  border-right: none;
}
#s{
  border-right: none;
  border-left: none;
}
#e{
  border-bottom: none;
  border-top: none;
}
#winner{
  /* background-color: greenyellow; */
  margin:  10px 50px;
  visibility: hidden;
  position: relative;
  height: 50px;
  font-size: 3rem;
}
#res{
  background-color: brown;
  border: none;
  color: white;
  padding: 5px;
  margin: 5px 20px;
  z-index: 2;
}
#demo{
  visibility: hidden;
  position: absolute;
  /* position: relative; */
  margin-top: -600px;
  z-index: 1;
}
.win {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  /* from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5cfab0, 0 0 40px #5cfab0, 0 0 50px #5cfab0, 0 0 60px #5cfab0, 0 0 70px #5cfab0;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #40ddd5, 0 0 40px #40ddd5, 0 0 50px #40ddd5, 0 0 60px #40ddd5, 0 0 70px #40ddd5, 0 0 80px #40ddd5;
  } */
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}